.yt-searchbox-form {
  display: flex;
}

.yt-searchbox-container {
  align-items: center;
  background-color: var(--yt-background-primary);
  border: 1px solid var(--yt-border);
  border-radius: 2px 0 0 2px;
  border-right-color: transparent;
  box-shadow: inset 0 1px 2px var(--ytd-searchbox-legacy-border-shadow-color);
  display: flex;
  height: 40px;
  margin-left: 34px;
  padding: 2px 6px;
  position: relative;
  width: 100%;

  &:focus-within {
    border: 1px solid #1c62b9;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
    margin-left: 0;
    padding-left: 40px;

    .yt-searchbox-icon {
      display: inline-block;
    }
  }
}

.yt-searchbox-icon {
  display: none;
  left: 10px;
  position: absolute;
}

.yt-searchbox {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: var(--yt-searchbox-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  max-width: 100%;
  outline: none;
  text-align: inherit;
  width: 100%;
}

.yt-searchbox-button {
  background-color: var(--yt-searchbox-button-background);
  border: 1px solid var(--yt-searchbox-border);
  border-radius: 0 2px 2px 0;
  color: inherit;
  cursor: pointer;
  flex-shrink: 0;
  height: 40px;
  margin: 0;
  width: 64px;
}
