:host {
  background-color: transparent;
  padding: 5px 15px;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 18px;
  color: inherit;
  font-weight: 500;

  &.yt-button-primary {
    background-color: var(--yt-button-primary);
    border-color: var(--yt-button-primary);
  }

  &.yt-button-secondary {
    border-color: var(--yt-border);
    color: var(--yt-button-secondary);

    &:hover,
    &:focus {
      background-color: var(--yt-button-secondary-hover);
      border-color: transparent;
    }
  }
}

.yt-button-content {
  &:not(:first-child) {
    margin-left: 6px;
  }

  &:not(:last-child) {
    margin-right: 6px;
  }
}
