<yt-list>
  <a routerLink="/" yt-list-item>
    <yt-icon>home</yt-icon>
    Главная
  </a>
  <a routerLink="/" yt-list-item>
    <yt-icon>explore</yt-icon>
    Навигатор
  </a>
  <yt-list-item>
    <yt-icon>subscriptions</yt-icon>
    Shorts
  </yt-list-item>
  <yt-list-item>
    <yt-icon>subscriptions</yt-icon>
    Подписки
  </yt-list-item>
</yt-list>

<yt-list>
  <yt-list-item>
    <yt-icon>video_library</yt-icon>
    Библиотека
  </yt-list-item>
  <yt-list-item>
    <yt-icon>history</yt-icon>
    История
  </yt-list-item>
</yt-list>
