<div *ngIf="showPrev" #prevArrow class="yt-chips-arrow yt-chips-arrow-prev">
  <div class="yt-chips-arrow-button">
    <button (click)="prev()" yt-icon-button type="button">
      <yt-icon>chevron_left</yt-icon>
    </button>
  </div>
</div>

<div class="yt-chips-container">
  <div
    #scrollContainer
    [style.transform]="'translateX(' + -1 * offset + 'px)'"
    (focusin)="focus($event)"
    (wheel)="wheel($event)"
    class="yt-chips-scroll-container">
    <ng-content select="[yt-chip]"></ng-content>
  </div>
</div>

<div *ngIf="showNext" #nextArrow class="yt-chips-arrow yt-chips-arrow-next">
  <div class="yt-chips-arrow-button">
    <button (click)="next()" yt-icon-button type="button">
      <yt-icon>navigate_next</yt-icon>
    </button>
  </div>
</div>
