:host {
  background-color: var(--yt-background-secondary);
  display: flex;
  justify-content: center;
  position: relative;
}

.yt-chips-container {
  overflow: hidden;
}

.yt-chips-scroll-container {
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
  white-space: nowrap;
  will-change: transform;
}

.yt-chips-arrow {
  display: flex;
  height: 100%;
  position: absolute;
  z-index: 1;

  &-button {
    align-items: center;
    background-color: var(--yt-background-secondary);
    display: flex;
    height: 100%;
    padding: 0 8px;
  }

  &-next {
    right: 0;

    &::before {
      background: linear-gradient(
        to left,
        var(--yt-background-secondary) 20%,
        rgb(33 33 33 / 0%) 80%
      );
    }
  }

  &-prev {
    left: 0;

    &::after {
      background: linear-gradient(
        to right,
        var(--yt-background-secondary) 20%,
        rgb(33 33 33 / 0%) 80%
      );
    }
  }

  &-prev::after,
  &-next::before {
    content: '';
    height: 100%;
    pointer-events: none;
    width: 50px;
  }
}
