<div class="yt-chips-arrow yt-chips-arrow-left">
  <div class="yt-chips-arrow-button">
    <button yt-icon-button type="button">
      <yt-icon>chevron_left</yt-icon>
    </button>
  </div>
</div>

<div class="yt-chips-container">
  <div class="yt-chips-scroll-container">
    <ng-content select="[yt-chip]"></ng-content>
  </div>
</div>

<div class="yt-chips-arrow yt-chips-arrow-right">
  <div class="yt-chips-arrow-button">
    <button yt-icon-button type="button">
      <yt-icon>navigate_next</yt-icon>
    </button>
  </div>
</div>
