<yt-chips>
  <button yt-chip type="button">123456</button>
  <button yt-chip type="button">123456 77 7 78 78</button>
  <button yt-chip type="button">123456</button>
  <button yt-chip type="button">123456 77 7 78 78</button>
  <button yt-chip type="button">123456</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
  <button yt-chip type="button">1234</button>
</yt-chips>

<div *ngIf="loading$ | async">Loading...</div>

<yt-grid class="yt-grid">
  <yt-video-card *ngFor="let video of videos$ | async" [video]="video">
  </yt-video-card>
</yt-grid>
