<header class="yt-header">
  <div class="yt-header-left">
    <button (click)="sidenavService.toggle()" yt-icon-button type="button">
      <yt-icon>menu</yt-icon>
    </button>
    <a routerLink="/">Logo</a>
  </div>

  <div class="yt-header-center">
    <yt-searchbox class="yt-searchbox"></yt-searchbox>
    <button
      yt-icon-button
      ytTooltip="1234567890"
      class="yt-voice-search"
      type="button">
      <yt-icon fill>mic</yt-icon>
    </button>
  </div>

  <div class="yt-header-right">
    <button yt-icon-button type="button">
      <yt-icon>more_vert</yt-icon>
    </button>

    <a yt-button="secondary" routerLink="">
      <yt-icon>account_circle</yt-icon>
      Sign in
    </a>
  </div>
</header>
