:host {
  display: block;
  background-color: var(--yt-background-secondary);
}

.yt-header {
  height: var(--yt-header-height);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yt-header-left {
  display: flex;
  align-items: center;
}

.yt-header-center {
  flex: 0 1 728px;
  display: flex;
}

.yt-searchbox {
  margin-left: 40px;
  width: 100%;
}

.yt-voice-search {
  margin-left: 8px;
  background-color: var(--yt-voice-search-button);

  &:hover,
  &:focus {
    background-color: var(--yt-voice-search-button-hover);
  }
}

.yt-header-right {
  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

.yt-logo {
  width: 120px;
  height: 56px;
  padding: 18px 14px 18px 16px;
  color: var(--yt-text-primary);
}
