<header class="yt-header">
  <div class="yt-header-left">
    <button (click)="sidenavService.toggle()" yt-icon-button type="button">
      <yt-icon name="menu"></yt-icon>
    </button>
    <a routerLink="/">
      <yt-icon class="yt-logo" name="logo"></yt-icon>
    </a>
  </div>

  <div class="yt-header-center">
    <yt-searchbox class="yt-searchbox"></yt-searchbox>
    <button
      yt-icon-button
      [ytTooltip]="but"
      class="yt-voice-search"
      type="button">
      <yt-icon name="mic-fill"></yt-icon>
    </button>

    <ng-template #but>
      <button>123445</button>
    </ng-template>
  </div>

  <div class="yt-header-right">
    <button yt-icon-button type="button">
      <yt-icon name="more_vert"></yt-icon>
    </button>

    <a yt-button="secondary" routerLink="">
      <yt-icon name="account"></yt-icon>
      Sign in
    </a>
  </div>
</header>
