/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --yt-background-primary: #0f0f0f;
  --yt-background-secondary: #0f0f0f;

  --yt-text-primary: #fff;
  --yt-text-primary-inverse: #030303;
  --yt-text-secondary: #aaa;
  --yt-text-disabled: #717171;

  --yt-border: rgba(255, 255, 255, 0.1);
  --yt-sidenav-width: 240px;
  --yt-header-height: 56px;
  --yt-button-primary: #3ea6ff;
  --yt-button-secondary: #3ea6ff;
  --yt-button-secondary-hover: #263850;

  --yt-chip: rgba(255, 255, 255, 0.1);
  --yt-chip-hover: rgba(255, 255, 255, 0.2);

  --yt-searchbox-button-background: hsla(0, 0%, 100%, 0.08);
  --yt-searchbox-button-border: hsl(0, 0%, 18.82%);
  --yt-searchbox-button: hsla(0, 0%, 100%, 0.08);
  --yt-searchbox-text-color: hsla(0, 100%, 100%, 0.88);

  --yt-voice-search-button: #181818;
  --yt-voice-search-button-hover: rgba(255, 255, 255, 0.1);

  --yt-tooltip-text-color: #fff;
  --yt-tooltip-background: #616161;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
}

body {
  background-color: var(--yt-background-primary);
  color: var(--yt-text-primary);
  margin: 0;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: hsl(0,0%,67%);
}
