:host {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 12px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--yt-border);
  }
}
